@page
@model ATravelersGuideToSerdan.Pages.Character.Create.Step5Model
@*@model ATravelersGuideToSerdan.ViewModels.CreateNpc5ViewModel*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post">




    <button type="submit" class="btn btn-dark">To Step6</button>
</form>
