@page
@model ATravelersGuideToSerdan.Pages.Character.Create.Step6Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>@Model.Headline</h1>
<p>@Model.Message</p>
<hr />
<form method="post">
    <div class="container-fluid">
        <div class="row">
            Magi (Uttryck * Dimension* Nivå * Aspekt = Kostnad magi)
        </div>
        <div class="row">
            <div class="col-md-3 table-bordered">
                Uttryck
            </div>
            <div class="col-md-3 table-bordered">
                Dimension
            </div>
            <div class="col-md-3 table-bordered">
                Nivå
            </div>
            <div class="col-md-3 table-bordered">
                Aspekt
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 table-bordered">
                <input type="radio" />Visuellt
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Verkligheten(2)
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />1:a Se
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Energi
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 table-bordered">
                <input type="radio" />Symbol
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Draperiet
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />2:a Öka/Minska
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Rum
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 table-bordered">
                <input type="radio" />Alkemi
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Dysterheten
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />3:e Omvandling
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Materia
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 table-bordered">
                (<input type="radio" />Blod)
            </div>
            <div class="col-md-3 table-bordered">
                (<input type="radio" />Etnor)
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />4:e Transformering
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Sinne
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 table-bordered">
                ((<input type="radio" />Kraft))
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Drömmen
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />5:e Skapa
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Liv
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 table-bordered">
                
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />Slöjan
            </div>
            <div class="col-md-3 table-bordered">
                
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" />(Själ)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 table-bordered">
                
            </div>
            <div class="col-md-3 table-bordered">
                ((<input type="radio" value="Parallellium"/>Parallellium))
            </div>
            <div class="col-md-3 table-bordered">
                
            </div>
            <div class="col-md-3 table-bordered">
                <input type="radio" value="((Tid))"/>((Tid))
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 table-bordered">
                
            </div>
            <div class="col-md-3 table-bordered">
                ((<input type="radio" value="Elementa" placeholder="Elementia"/>Elementa))
            </div>
            <div class="col-md-3 table-bordered">
             
            </div>
            <div class="col-md-3 table-bordered">
             
            </div>
        </div>


    </div>
    <button type="submit" class="btn btn-dark">To Step7</button>
</form>
