@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-sm-4">
        <img src="~/Serdan_bara.jpg" />
    </div>
    
    <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-sm-4">
       
        <h1 class="display-4">Welcome To a Travelers guide to Serdan.</h1>
        <p>This site is a companion to main rules of <a href="http://www.serdan.se">Serdan</a>.</p>
        <p>The site is in a developing phase and not complete.</p>
    </div>
    
    <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-sm-4">
        <img src="~/Edlosi_bara.jpg" />

    </div>
</div>