@page
@model ATravelersGuideToSerdan.Pages.NPC.CreateNPCstep4Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Step 4</h1>

<form method="post">
    <button type="submit" class="btn btn-dark">Next</button>
</form>

<a asp-page="CreateNPCStep3" class="btn btn-dark">Back</a>