@page
@*@model ATravelersGuideToSerdan.Pages.NPC.GetNpcListModel*@
@model List<ATravelersGuideToSerdan.Models.ViewModels.NpcGeneralViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>@ViewBag.Title</h2>

<hr />

@if (Model != null)
{
    <ul>
        @foreach (var Npc in Model)
        {
            <li>
                @*@Html.Partial("_ANpc", Npc)*@

                <a asp-page="ANpc" asp-route-id="@Npc.NpcId">@Npc.NpcName</a>
            </li>
        }
    </ul>
}
else
{
        <span>No characters was loaded.</span>
}