@page
@model ATravelersGuideToSerdan.Pages.NPC.NPCIndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>NpcIndex</h2>
<div>
    <div>
        Serdan
    </div>
    <div>
        Edlosi
    </div>
    <div>
        Drakar
    </div>
    <div>
        Gripar
    </div>
    <div>
        Människor
    </div>

</div>