@page
@model ATravelersGuideToSerdan.Pages.NPC.NPCIndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>NpcIndex</h2>
<div>
    <div>
        <a asp-page="GetCharacters" asp-page-handler="OnGet" asp-route-race="serdan">
            Serdan

        </a>
    </div>
    <div>
        <a asp-page="GetCharacters" asp-page-handler="OnGet" asp-route-race="edlosi">
            Edlosi
        </a>
    </div>
    <div>
        <a asp-page="GetCharacters" asp-page-handler="OnGet" asp-route-race="drakar">

            Drakar
        </a>
    </div>
    <div>
        <a asp-page="GetCharacters" asp-page-handler="OnGet" asp-route-race="gripar">
            Gripar
        </a>
    </div>
    <div>
        <a asp-page="GetCharacters" asp-page-handler="OnGet" asp-route-race="människor">
            Människor
        </a>


    </div>

</div>

@*asp-page = action

    asp-page-handler="delete, put get post...

    asp-route-id


    <form asp-page-handler="post" asp-route-race="serdan">


        [BindProperty]

        <input asp-for="NPC.Name" />*@
