@page
@model ATravelersGuideToSerdan.Pages.Character.Create.CompletedCharacterModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Nu är karaktären klar!</h1>