@page
@model ATravelersGuideToSerdan.Pages.Character.Create.Step7Model
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>@Model.Headline</h1>
<p>@Model.Message</p>
<hr />
<form method="post">




    <button type="submit" class="btn btn-dark">To Step8</button>
</form>
