@page
@model ATravelersGuideToSerdan.Pages.Character.CreatePlayer.CharacterSavedModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Your character is saved.</h2>

<p>To download your character click <a href=@Model.FileName>here.</a></p>