@page
@model ATravelersGuideToSerdan.Models.NPC

<h1>Step 4</h1>

<form method="post">
    <button type="submit" class="btn btn-dark">Next</button>
</form>

<a asp-page="CreateNPCStep3" class="btn btn-dark">Back</a>