@page
@namespace ATravelersGuideToSerdan.Pages.NPCPage
@model ATravelersGuideToSerdan.Models.NPC

<h1>Step 2 in Creating/Adding a NPC.</h1>


<form method="post">

    <button type="submit" class="btn btn-dark">Next</button>
</form>


<a asp-page="CreateNPCStep1" class="btn btn-dark">Back</a>
